@font-face {
    font-family: 'sansita';
    src: url('app/assets/fonts/SansitaOne.ttf');
}

body{
    overflow: hidden;
	/*background-image: url('../images/bg.png');*/
	/*-webkit-transform: rotate(-90deg); 
     -moz-transform:rotate(-90deg);*/
     /*filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
     /*height: 100%;*/
     margin: 0px !important;
	background-color: #6ECCE4;
}

.sk-circle {
	left: calc(50% - 20px);
	top: calc(50% - 20px);
	z-index: 16;
	width: 40px;
	height: 40px;
	position: absolute;
}
.sk-circle .sk-child {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.sk-circle .sk-child:before {
	content: '';
	display: block;
	margin: 0 auto;
	width: 15%;
	height: 15%;
	background-color: #fff;
	border-radius: 100%;
	-webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
	animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
	-webkit-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	transform: rotate(30deg); }
.sk-circle .sk-circle3 {
	-webkit-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	transform: rotate(60deg); }
.sk-circle .sk-circle4 {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg); }
.sk-circle .sk-circle5 {
	-webkit-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	transform: rotate(120deg); }
.sk-circle .sk-circle6 {
	-webkit-transform: rotate(150deg);
	-ms-transform: rotate(150deg);
	transform: rotate(150deg); }
.sk-circle .sk-circle7 {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg); }
.sk-circle .sk-circle8 {
	-webkit-transform: rotate(210deg);
	-ms-transform: rotate(210deg);
	transform: rotate(210deg); }
.sk-circle .sk-circle9 {
	-webkit-transform: rotate(240deg);
	-ms-transform: rotate(240deg);
	transform: rotate(240deg); }
.sk-circle .sk-circle10 {
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg); }
.sk-circle .sk-circle11 {
	-webkit-transform: rotate(300deg);
	-ms-transform: rotate(300deg);
	transform: rotate(300deg); }
.sk-circle .sk-circle12 {
	-webkit-transform: rotate(330deg);
	-ms-transform: rotate(330deg);
	transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
	-webkit-animation-delay: -1s;
	animation-delay: -1s; }
.sk-circle .sk-circle4:before {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
	-webkit-animation-delay: -0.7s;
	animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
	-webkit-animation-delay: -0.6s;
	animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
	-webkit-animation-delay: -0.4s;
	animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
	-webkit-animation-delay: -0.3s;
	animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
	-webkit-animation-delay: -0.2s;
	animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
	-webkit-animation-delay: -0.1s;
	animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	} 40% {
		  -webkit-transform: scale(1);
		  transform: scale(1);
	  }
}

@keyframes sk-circleBounceDelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	} 40% {
		  -webkit-transform: scale(1);
		  transform: scale(1);
	  }
}

#mainDiv{
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#loading{
	display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#bookCanvas{
	z-index: 2;
}

.word-container{
	z-index: 4;
	position: absolute;
	word-wrap: break-word;
	text-align: center;
}

.words{
	z-index: 4;
	font-family: 'sansita';
	cursor: pointer;
}

.words-symbols{
	z-index: 4;
	font-family: 'sansita';
}

.word-elements{
	z-index: 6;
	position: absolute;
	/*-webkit-text-stroke: 1px white;*/
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	color: black;
	font-weight: bold;
	font-family: 'sansita';
}

.auto-play-btn{
	position: absolute;
	z-index: 4;
	cursor: pointer;
}

.side-bg{
	z-index: 3;
	position: absolute;
	top: 0px;
}

.pagination{
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 8;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	color: black;
	font-family: 'sansita';
}

#leftArrow{
	z-index: 5;
	position: absolute;
	left: 10px;
	cursor: pointer;
}

#rightArrow{
	z-index: 5;
	position: absolute;
	right: 10px;
	cursor: pointer;
}

#pageEffect{
	z-index: 2;
	position: absolute;;
	left: 0px;
	top: 0px;
	cursor: pointer;
}

#playAudio{
	z-index: 5;
	position: absolute;
	cursor: pointer;
}

#pauseAudio{
	z-index: 5;
	position: absolute;
	visibility: hidden;
	cursor: pointer;
}

#readAgain, #goBack, #downloadIOS, #downloadAndroid{
	z-index: 6;
	position: absolute;
	cursor: pointer;
}

#orientationMsg{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 15;
	background: #6ECCE4;
	text-align: center;
	vertical-align: middle;
	visibility: hidden;
}

#orientationMsg h2{
	font-family: 'sansita';
	color: #ffffff;
}

/*#readMyself{*/
	/*position: absolute;*/
	/*right: 3px;*/
	/*top: 0px;*/
	/*z-index: 16;*/
	/*background: linear-gradient(to bottom, #935418 , #D6972C);*/
	/*color: #fff;*/
	/*padding: 5px;*/
	/*border-radius: 0px 0px 5px 5px;*/
	/*border: solid 1px #EECA36;*/
	/*border-top: none;*/
	/*border-left: none;*/
	/*border-right: none;*/
	/*cursor: pointer;*/
/*}*/

#readMyself{
	position: absolute;
	z-index: 14;
	cursor: pointer;
}